@model IEnumerable<string>

@{
    ViewData["Title"] = "Home";
    var hostBaseUrl = "https://" + @Context.Request.Host;
}

<div class="text-center">
    <h1 class="display-4">Welcome To Themis</h1>
</div>

<div class="jumbotron text-center">
    <p class="lead">Themis is a simple, free-to-use chore planner. It's so light weight you won't even need any registration to use it!</></p>
    <hr class="my-4">
    <p>
        Organize your chores by creating a <strong>Plan</strong> now! You will be able to share it with others by simply sending them link.
        Your data is mostly secure, because it is hard to reach any plan by guessing a plan-link.
        Still: please do not post any passwords or similar sensitive data here.
    </p>
    @Html.ActionLink("Create A Plan", "Create", "Plan", null, new {@class = "btn btn-primary btn-lg", role = "button"})
</div>

@if (Model.Any())
{
    <div class="container mt-5">
        <h4>Existing Plans</h4>
        <ol>
        @foreach (var planId in Model)
        {
            var showUrl = hostBaseUrl + @Url.Action("Index", "Plan", new {id = planId});
            <li>@Html.ActionLink(showUrl, "Index", "Plan", new {id = planId})</li>
        }
        </ol>
    </div>
}