@{  
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<ul>
@{
    foreach (var chore in ViewBag.Chores)
    {
        <li><strong>@chore.Title</strong> - @chore.Description </li>
    }
}
</ul>