@using WebAPI.Integrations

@*template: Chore*@
<template id="chore-template">
    <div class="add-chores-form pb-1 px-5 pt-1 form-group">
        <div class="row">
            <button class="form-control btn chore-form-btn btn-remove-chore w-auto ml-auto m-3">
                <i class="icon-rm-chore fas fa-times"></i>
            </button>
        </div>
        <div class="form-group form-row justify-content-between align-top">
            <input type="text" class="form-control chore-title col-5" name="Chores[0].Title" placeholder="Title / what to do"/>
            <textarea rows="2" class="form-control chore-description col-6" name="Chores[0].Description" placeholder="Detailed description"></textarea>
        </div>

        <div class="add-user-form row form-group">
            <div class="form-inline add-user-group user-form-group mt-2">
                <input class="form-control add-user-input w-100" placeholder="add user..."/>
            </div>
        </div>

        <div class="add-interval-from form-group form-inline">
            <div class="interval-parameter-form">
                <input type="text" class="form-control chore-duration" name="Chores[0].Duration" placeholder="duration of an assignment" required="required" pattern="[1-9]\d*"/>
            </div>
            
            <select class="interval-type-selector form-control ml-3" data-last-value="Duration Interval" name="Chores[0].IntervalType">
                @foreach (var (display, value) in IntervalNameService.Get())
                {
                    var sel = display == "Days" ? "selected" : null;
                    <option class="interval-option" value="@value" selected="@sel">@display</option>
                }
            </select>
        </div>
    </div>
</template>

@*template: Intervals:: Duration-Interval*@
<template id="Duration-Interval">
    <div class="interval-parameter-form">
        <input type="text" class="form-control chore-duration" name="Chores[0].Duration" required="required" pattern="[1-9]\d*"/>
    </div>
</template>

@*template: Add User*@
<template id="user-template">
    <div class="form-inline user-form-group mr-3 mt-2 pl-2 bg-light">
        <input class="form-control normal-user-input p-0 bg-light" name="Chores[0].AssignedUsers"/>
        <button class="form-control btn chore-form-btn btn-remove-user bg-light">
            <i class="fas fa-times"></i>
        </button>
    </div>
</template>