@model WebAPI.Models.PlanViewModel

@{
    ViewBag.Title = "Create A Plan";
    Layout = "_Layout";
}

<h2 class="text-center display-6">@ViewBag.Title</h2>

<div class="pt-5">
@using (Html.BeginForm("Index", "Plan",
    null, FormMethod.Post, true, null))
{
    <div class="row">
        <div class="col-8">
            <div class="form-group form-inline">
                <input type="text" class="w-100 form-control form-control-lg" id="main-1"
                       name="@Html.DisplayNameFor(m => m.Title)" placeholder="A title for your plan">
            </div>

            <div class="form-group form-inline ">
                <textarea rows="3" class="w-100 form-control form-control-lg" id="main-2" name="@Html.DisplayNameFor(m => m.Description)" placeholder="What is your plan about"></textarea>
            </div>
        </div>

        <div class="col-4 w100">
            <div class="add-user-form form-group">
                <div class="form-inline add-user-group user-form-group">
                    <input class="form-control add-user-input w-100" name="Users.Name" placeholder="add user..."/>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12 w100">
        <div class="add-chores-form form-group">
            <div class="form-inline add-chores-group chores-form-group">
                <input type="text"           class="form-control" name="Chores[0].Title" placeholder="Title / what to do"/>
                <input type="text"           class="form-control" name="Chores[0].Description" placeholder="Detailed description"/>
                <input type="text"           class="form-control" name="Chores[0].DayDuration" placeholder="How long one is assigned?"/>
                <input type="datetime-local" class="form-control" name="Chores[0].StartDay" step="86400" />
                <div class="assignees-form">
                    <input type="text" class="form-control" name="Chores[0].AssignedUsers" placeholder="users separated by ';'"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <button id="main-submit" class="w-50 form-control btn bg-primary btn-lg">Create</button>
    </div>
}
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {

            function suppressEnter(e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    return false;
                }
            }

            // Do not trigger submit easily (via enter press)
            $("form").keypress(suppressEnter);

            // Prepare the User-Edit-Template
            var templateString =
                '<div class="form-inline user-form-group">' +
                    '<input class="form-control normal-user-input" name="Users.Name"/>' +
                    '<button class="form-control btn btn-remove-user">' +
                    '<i class="far fa-trash-alt"></i>' +
                    '</button>' +
                    '</div>';
            var addUserTemplate = $($.parseHTML(templateString));
            addUserTemplate.keypress(suppressEnter);
            addUserTemplate.keyup(suppressEnter);
            addUserTemplate.keydown(suppressEnter);

            // Add USER Action
            $(".add-user-form").on('keyup.add-user-input',
                function(e) {
                    if (e.keyCode != 13)
                        return;

                    e.preventDefault();
                    var dynamicClone = addUserTemplate.clone(true);
                    var cloneUserInput = $(dynamicClone.children()[0]);
                    var userAdderInput = $('.add-user-input');
                    cloneUserInput.val(userAdderInput.val());
                    userAdderInput.val("");

                    dynamicClone.insertBefore('.add-user-group');
                });

            // Remove USER Action
            $('.add-user-form').on('click',
                '.btn-remove-user',
                function(e) {
                    e.preventDefault();
                    $(this).closest('.user-form-group').remove();
                    return false;
                });

            // List Data Preparation
            $('form').submit(function(e) {
                $('.add-user-input').remove();

                $('.normal-user-input').each(function(index) {
                    $(this).attr('name', `Users[${index}]`);
                });
            });
        });
    </script>
}