@model WebAPI.Models.PlanViewModel

@{
    ViewBag.Title = "Create A Plan";
    Layout = "_Layout";
}

<h2 class="display-4">@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Plan",
    null, FormMethod.Post, true, null))
{
    <div class="form-group row col-sm-9">
        <input type="text" class="form-control form-control-lg" id="main-1"
               name="@Html.DisplayNameFor(m => m.Title)" placeholder="A title for your plan">
    </div>

    <div class="form-group row  col-sm-9">
        <textarea rows="3" class="form-control form-control-lg" id="main-2" name="@Html.DisplayNameFor(m => m.Description)" placeholder="What is your plan about"></textarea>
    </div>


    <div class="add-user-form form-group">
        <div class="form-inline add-user-group user-form-group">
            <input class="form-control add-user-input" name="Users.Name" placeholder="new user..."/>
        </div>
    </div>


    <input id="main-submit" class="form-control btn bg-primary btn-lg" type="submit" value="Create"/>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {

            function SuppressEnter(e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    return false;
                }
            }

            // Do not trigger submit easily (via enter press)
            $("form").keypress(SuppressEnter);

            var templateString =
'<div class="form-inline user-form-group">' +
    '<input class="form-control normal-user-input" name="Users.Name"/>' +
    '<button class="form-control btn btn-remove-user">' +
        '<i class="far fa-trash-alt"></i>' +
    '</button>' +
'</div>';
            var addUserTemplate = $($.parseHTML(templateString));
            addUserTemplate.keypress(SuppressEnter);
            addUserTemplate.keyup(SuppressEnter);
            addUserTemplate.keydown(SuppressEnter);

            // Add USER Action
            $(".add-user-form").on('keyup.add-user-input',
                function(e) {
                    if (e.keyCode != 13)
                        return;

                    e.preventDefault();
                    var clone = addUserTemplate.clone(true);
                    var inp = $(clone.children()[0]);
                    var adder = $('.add-user-input');
                    inp.val(adder.val());
                    adder.val("");
  
                    clone.insertBefore('.add-user-group');
                });

            // Remove USER Action
            $('.add-user-form').on('click',
                '.btn-remove-user',
                function(e) {
                    e.preventDefault();
                    $(this).closest('.user-form-group').remove();
                    return false;
                });

            // List Data Preparation
            $('form').submit(function(e) {
                $('.inner-user').each(function(index) {
                    var inputs = $(this).children().toArray();
                    $(inputs[0]).attr('name', `Users[${index}].Name`);
                });
            });
        });
    </script>
}